/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* акцент #2196F3 */
/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона #2F303A ; #F5F4FA ; #FFFFFF */
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --secondary-bcg-color: #2f303a;
}
body {
  background-color: var(--primery-white-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* logo */

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo :hover,
:focus {
  color: var(--accent-color);
}

/* Navigation */

.web {
  color: #2196f3;
}
.studio {
  color: black;
}
.site-nav-list :hover,
:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}
.link-studio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.link-portfolio,
.link-contacts {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.link-portfolio-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}
.e-mail-portfolio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

/* Contacts */

.e-mail-main {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}
.phone {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
/* Hero */
.hero {
  background-color: #2f303a;
}

.hero-tittle-decision {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
/* buttons */
.button {
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.button,
.button-studio {
  background-color: #2196f3;
  color: #ffffff;
}
.button-studio {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button-portfolio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
}

.prioritets {
  color: #212121;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  line-height: 1.1;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.tech-tittle {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.work {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team {
  background-color: #f5f4fa;
}

.team-tittle {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.proffession {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Footer */
.contacts {
  background-color: #2f303a;
}
.footerstudio {
  color: #ffffff;
}

.contacts-tittle,
.contacts-tittle-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14 px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.contacts-tittle-link {
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */
.projects-tittle {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.works {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}
